<h1>Course Listing</h1>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: lorem jasdasd bnsadasd bnsdsah nhdksajhnd</li>
</ul>


<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: lorem jasdasd bnsadasd bnsdsah nhdksajhnd</li>
</ul>


<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: lorem jasdasd bnsadasd bnsdsah nhdksajhnd</li>
</ul>   